/*//// ROOT ////*/
:root {
  --nav-box-shadow: hsl(0, 0%, 92%);
  --off-white: hsl(0, 0%, 98%);
  --off-black: hsl(0, 0%, 8%);
  --medium-gray: hsl(0, 0%, 41%);
}

/*//// BASE ////*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

ul[role="list"],
ol[role="list"],
ul {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
}

/* //// PAINT //// */

.nav-shadow {
  box-shadow: 0 5px 4px 0px var(--nav-box-shadow);
}

.clr-primary {
  color: var(--off-black);
}

.clr-secondary {
  color: var(--off-white);
}

.clr-medium-gray {
  color: var(--medium-gray);
}

/* !important To do change icon fill to black */

:where(li.clr-medium-gray):hover,
:where(.btn-reg):hover {
  color: var(--off-black);
}

.btn-reg:hover {
  border: 2px solid var(--off-black);
}

/* //// ADJUSTMENTS //// */
.nav-height {
  min-height: 4em;
}

.margin-none {
  margin: 0;
}

.margin-0-auto {
  margin: 0 auto;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.nav-s2,
.nav-s3 {
  font-size: 1.5rem;
}

.nav-s2 {
  flex: 1;
  gap: 80px;
}

.nav-s3 {
  flex: 1;
  justify-content: flex-end;
  padding-right: 40px;
}

.main-article-1 {
  margin: 0 2rem;
}

.footer-list-icon {
  justify-content: space-evenly;
}

/* //// DISPLAYS ///// */
.ds-flex {
  display: flex;
}

.ds-flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.main {
  flex-direction: column;
}

.ds-inline {
  display: inline;
}

/* alignment */
.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* ///// ALIGNMENT HELPERS ////*/

.flex-1 {
  flex: 1;
}

.flex-half {
  flex: 0.5;
}

.gap-10px {
  gap: 0.625rem;
}

.gap-base {
  gap: 1rem;
}

.gap-20px {
  gap: 1.25em;
}

.gap-25px {
  gap: 1.5625em;
}

.gap-50px {
  gap: 3.125em;
}

.nav-mobile-container {
  margin: 0 1rem;
}

.footer-mobile-adjustment {
  margin: 2rem 0;
}

/* /////////// Typography ////////////*/

.font-w-bold {
  font-weight: bold;
}
.font-w-700 {
  font-weight: 700;
}

.font-w-500 {
  font-weight: 500;
}

.font-sz-1rem {
  font-size: 1rem;
}

.font-sz-1-q-rem {
  font-size: 1.25rem;
}

.font-sz-1-q-em {
  font-size: 1.25em;
}

.font-sz-2rem {
  font-size: 2rem;
}

.font-sz-3rem {
  font-size: 3rem;
}

.font-sz-4rem {
  font-size: 4rem;
}

/* //// Buttons //// */
.btn {
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.btn-a {
  background-color: var(--off-black);
  color: var(--off-white);
  border: 1px solid transparent;
}

.btn-a:hover {
  background-color: var(--off-white);
  color: var(--off-black);
  border: 1px solid var(--off-black);
}

.btn-reg {
  padding: 0.65rem 1.25rem;
  border-radius: 1rem;
  border: 2px solid var(--medium-gray);
}

/*/////// UTILITY ////////////*/
.icon_base {
  width: 1.625em;
  height: 1.625em;
}

.icon-center-mobile {
  margin: 1rem;
}

.padding-left-none {
  padding-left: 0;
}

.pd-bottom {
  padding-bottom: 2em;
}

.pd-container {
  padding: 0 2em;
}

.hide-mobile-flex {
  display: none;
}

.hide-desktop {
  display: block;
}

.hide {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.cursor-pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.over-flow-auto {
  overflow: auto;
}

.over-flow-hidden {
  overflow: hidden;
}

.zero-border {
  border: 0;
}

/* //// Icons //// */
.icon-scale-mobile {
  transform: scale(0.75);
}

.svg-mb-1xp {
  margin-bottom: 2px;
  pointer-events: none;
}

#use-databiz-logo {
  width: 114px;
  height: 20px;
}

#use-audiophile-logo {
  width: 73px;
  height: 36px;
}

#use-client-meet-logo {
  width: 90px;
  height: 20px;
}

#use-client-marker-logo {
  width: 83px;
  height: 24px;
}

.icon-02 {
  opacity: 0;
}

/* //// Drop down //// */

.drop-down {
  position: absolute;
  display: inline-block;
  border-radius: 7px;
  margin-top: 1.1rem;
  right: 0.05rem;
  box-shadow: -5px 2px 25px -6px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: -5px 2px 25px -6px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: -5px 2px 25px -6px rgba(0, 0, 0, 0.53);
}

.drop-down-inner {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 1rem;
  width: 15ch;
}

.drop-down-sm {
}

.drop-down-sm-inner {
  width: 12ch;
}

/* //// Side bar //// */
.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  background-color: white;
  z-index: 999;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.backdrop {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--off-black);
  opacity: 0.7;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  transition: all 0.5s ease-in-out;
}

.sidebar-header {
  padding: 0.78rem 1rem;
  margin-bottom: 1rem;
}

.sidebar-groups {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.sidebar-container {
  padding: 1rem 3rem;
}

.sidebar-pd-1rem {
  padding: 0 1rem;
}

.x-translate-outside {
  transform: translateX(100%);
}

.x-translate-full {
  transform: translateX(0);
}

[x-cloak] {
  display: none !important;
}

/* //// Media Query //// */

@media (min-width: 375px) {
  .icon-list {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .icon-scale-mobile {
    transform: scale(1);
  }

  .icon-list {
    justify-content: space-evenly;
  }
  .icon-aside {
    margin-top: 1rem;
  }
}

@media (min-width: 1440px) {
  .hide-mobile-flex {
    display: flex;
  }

  .hide-desktop {
    display: none;
  }

  .main {
  }

  .main-s1 {
    flex-direction: row;
  }

  .main-h1 {
    font-size: 6rem;
  }

  .main-details {
    width: 42ch;
    line-height: 1.45;
    font-size: 1.15rem;
  }

  .main-article-1 {
    width: 125ch;
    text-align: left;
    margin: 0;
    justify-content: end;
    justify-content: flex-end;
    gap: 2rem;
  }

  .desktop-main-container {
    margin: 2rem 9rem;
  }

  .btn-a {
    margin: 0 auto 0 0;
  }

  .footer-list-icon {
    justify-content: start;
    justify-content: flex-start;
  }

  .icon-scale-mobile {
    transform: scale(1);
  }

  .icon-list {
    justify-content: space-between;
  }

  .nav-s1 {
    font-size: 3rem;
  }

  .nav {
    height: 6rem;
  }
}

@keyframes drop-down-menu {
  from {
    clip-path: var(--animate-close);
    /* clip-path: circle(0% at 100% 100%); */
  }
  to {
    clip-path: var(--animate-open);
    /* clip-path: circle(100% at 50% 50%); */
  }
}
